<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a [routerLink]="['/servers',server.id]" [queryParams]="{allowEdit:server.id=='3'?'1':'0'}" fragment="loading"
        href="#" class="list-group-item" *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <!-- <a routerLink="/servers">reload page</a> -->
    <!-- In the above using /servers removes all the string after the base template and adds servers  to the base url -->
    <!-- understand the difference between relative path and others -->
    <!-- <button class="btn btn-primary" (click)="reloadPage()">Relaod Page</button>
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server> -->
  </div>
</div>